/BPMNEditing/private/
/BPMNEditing/src/main/webapp/dist/
/BPMNEditing/src/main/webapp/nbproject/private/
/BPMNEditing/node/
/BPMNEditing/src/main/webapp/node_modules/
/BPMNEditing/src/main/webapp/node/
/BPMNEditing/src/main/webapp/nbproject/
/BPMNEditing/target/
/target/
/licensehelper/target/
